<template>
    <div>
        <DetailComponent></DetailComponent>
    </div>
</template>

<script>

import DetailComponent from '../components/DetailComponent.vue'

export default {
  name: 'Detail',
  components: {
    DetailComponent
  }
}
</script>
