<template>
    <div>
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
       <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto+Mono&display=swap" rel="stylesheet">
       <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
       <h1 class="title">LIST FILM</h1>
       <div class="row">
           <div class="col-md-8 fil">
           <div class="film"
            v-for="dataFilm in film"
            :key="dataFilm.id">
               <img :src="image + dataFilm.poster_path" alt="">
               <div class="film-text">
                   <router-link :to="{name: 'detail', params: {id: dataFilm.id}}"><h5><b>{{dataFilm.title}}</b></h5></router-link>
                   <p>HTM: 25.000</p>
                   <p>Friday, 23 Juni 2019</p>
                   <p>REMAJA | 128 Menit</p>
                   <div class="jam">15.00</div><div class="jam">19.00</div>
               </div>
           </div>
       </div>
       <div class="col-md-3">
           <div class="sosmed">
               <h4>FOLLOW US</h4>
               <p><i class="fab fa-facebook-square"></i> Facebook: Vue Movie Official</p>
               <p><i class="fab fa-instagram"></i> Instagram: Vue Movie Official</p>
               <p><i class="fab fa-twitter-square"></i> Twitter: Vue Movie Official</p>
           </div>
       </div>
       </div>
    </div>
</template>

<script>

import axios from 'axios'

export default {
  name: 'List',
  data () {
    return {
      film: null,
      image: 'https://image.tmdb.org/t/p/w185_and_h278_bestv2/'
    }
  },
  created () {
    axios
      .get('https://api.themoviedb.org/3/movie/now_playing?api_key=12bc0e841cf079697d78e0a8b263aae6&language=id-ID&page=1')
      .then((response) => {
        this.film = response.data.results
      })
  }
}
</script>

<style scoped>
.film{
    display: flex;
    padding: 20px;
    margin-left: 10%;
    margin-bottom: 10px;
    border: 1px solid gray;
}
.film img{
    max-width: 200px;
    max-height: 200px;
}
.film-text{
    padding: 15px;
    padding-left: 20px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
}
.title{
    font-family: 'Montserrat', sans-serif;
}
.jam{
    display: flex;
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    background-color:mintcream;
    border: 1px solid gray;
    margin-right: 5px;
}
.jam:hover{
    background-color: lightblue;
    cursor: pointer;
}
.sosmed{
    text-align: left;
}
h5{
    text-decoration: none;
    color: black;
}
</style>
