<template>
    <div>
        <h1>Login untuk Melanjutkan</h1>
        <div class="username">
            <label class="lbluname">Username </label>
            <input type="text" v-model="username">
        </div>
        <div class="password">
            <label class="lblpw">Password </label>
            <input type="password" v-model="password">
        </div>
        <button class="login" @click="login()">LOGIN</button>
    </div>
</template>

<script>

import Login from '../mixins/Login.js'

export default {
  name: 'Login',
  data () {
    return {
      username: null,
      password: null
    }
  },
  mixins: [Login],
  methods: {
    login () {
      const dataUser = {
        username: this.username,
        password: this.password
      }
      const newDataUser = JSON.stringify(dataUser)
      localStorage.setItem('dataUser', newDataUser)
    }
  }
}
</script>

<style scoped>
.username{
    width: 100%;
    padding: 20px;
}
.lbluname{
    padding-right: 20px;
    font-family: 'Montserrat', sans-serif;
}
.lblpw{
    padding-right: 20px;
    font-family: 'Montserrat', sans-serif;
}
.login{
    width: 300px;
    margin: 20px;
    height: 40px;
    border-radius: 30px;
    background-color: #38AEE8;
    border: none;
    color: white;
}
</style>
