<template>
    <div>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <div class="header">
            <h2>{{film.title}}</h2>
            <div class="isi">
                <img :src="image+film.poster_path" alt="">
                <p>Sinopsis : {{film.overview}}</p>
            </div>
        </div>
        <div class="footer">
            <div class="menu">
                <h4>MENU</h4>
                <hr>
                <p>Home</p>
                <p>Jadwal</p>
                <p>Pesan Tiket</p>
            </div>
           <div class="alamat">
               <h4>OUR LOCATION</h4>
               <hr>
               <h5><b>BIOSKOP 1</b></h5>
               <p>Jl. Danau Ranau no.150 Kec.Kedungkandang Malang</p>
               <p>(0341) 802020</p>
           </div>
           <div class="sosmed">
               <h4>FOLLOW US</h4>
               <hr>
               <p><i class="fab fa-facebook-square"></i> Facebook: Vue Movie Official</p>
               <p><i class="fab fa-instagram"></i> Instagram: Vue Movie Official</p>
               <p><i class="fab fa-twitter-square"></i> Twitter: Vue Movie Official</p>
           </div>
        </div>
    </div>
</template>

<script>

import axios from 'axios'

export default {
  name: 'DetailComponent',
  data () {
    return {
      film: null,
      image: 'https://image.tmdb.org/t/p/w185_and_h278_bestv2/'
    }
  },
  created () {
    const id = this.$route.params.id
    axios
      .get('https://api.themoviedb.org/3/movie/' + id + '?api_key=12bc0e841cf079697d78e0a8b263aae6')
      .then((response) => {
        this.film = response.data
      })
  }
}
</script>

<style scoped>
.isi{
    height: 270px;
    margin: 2%;
    text-align: justify;
    display: flex;
}
.isi p{
    padding: 40px;
}
.isi img{
    max-height: 270px;
}
.footer{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    padding: 2% 5% 1% 10%;
    background-color: lightgray;
}
.menu{
    text-align: left;
}
.alamat{
    text-align: left;
    padding-left: 100px;
}
.sosmed{
    padding-left: 100px;
    text-align: left;
}
.hr{
    color: white;
}
</style>
