<template>
    <div>
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
       <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto+Mono&display=swap" rel="stylesheet">
       <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
       <div class="header">
          <p>ACTION | ADVENTURE | DRAMA</p>
          <h3>AVENGERS: END GAME</h3>
          <h5><i class="fa fa-play" aria-hidden="true"></i>  Watch Trailer </h5>
       </div>
       <div class="body">
           <h2>NOW PLAYING</h2>
           <div class="card-film" v-for="film in dataFilm" :key="film.id">
               <img :src="film.gambar" class="image">
           </div>
           <router-link to="/list"><p>Selengkapnya</p></router-link>
       </div>
       <div class="body2">
           <h2>COMING SOON</h2>
           <div class="card-film" v-for="film in dataFilm" :key="film.id">
               <img :src="film.gambar" class="image">
           </div>
       </div>
       <div class="footer">
           <h2>OUR LOCATION</h2>
           <div class="row">
               <div class="col-md-6">
                   <div class="text">
                       <h5>BIOSKOP 1</h5>
                       <p>Jl. Danau Ranau no.150 Kec.Kedungkandang Malang</p>
                       <p>(0341) 802020</p>
                   </div>
               </div>
               <div class="col-md-6">
                   <img src="../assets/avengers.jpg" alt="">
               </div>
           </div>
       </div>
    </div>
</template>

<script>

import gbr1 from '@/assets/pokemon.jpg'
export default {
  name: 'HomeComponent',
  data () {
    return {
      showStyle: true,
      dataFilm: [
        { id: 1, gambar: gbr1 },
        { id: 2, gambar: gbr1 },
        { id: 3, gambar: gbr1 },
        { id: 4, gambar: gbr1 }
      ]
    }
  }
}
</script>

<style scoped>
.header{
    width: 100%;
    height: 585px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../assets/avengers.jpg');
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    padding-top: 400px;
    padding-left: 40px;
}
.body{
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
}
.body2{
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
}
.footer{
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    margin-top: 32%;
    background-color: lightblue;
}
.card-film img{
    max-width: 400px;
    max-height: 400px;
    margin: 20px;
    display: flex;
    float: left;
}
.image{
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}
.card-film img:hover{
    opacity: 0.3;
}
.play{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.text {
  text-align: left;
  border: 1px solid gray;
  padding: 10px;
  color: black;
  font-size: 16px;
}
.img:hover .play {
  opacity: 1;
}
.footer img{
    width: 100%;
    height: 135px;
}
</style>
